<div class="card">
  <div class="card-block">
    <h4 class="card-title">Details</h4>
  </div>
  <table class="table">
    <thead></thead>
    <tbody>
      <tr>
        <td><b>datum</b></td>
        <td>{{transaction.date}}</td>
      </tr>
      <tr>
        <td><b>bedrijf</b></td>
        <td>{{transaction.emittent}}</td>
      </tr>
      <tr>
        <td><b>naam</b></td>
        <td>{{transaction.name}}</td>
      </tr>
      <tr>
        <td><b>prijs</b></td>
        <td>{{transaction.price}}</td>
      </tr>
      <tr>
        <td><b>volume</b></td>
        <td>{{transaction.volume}}</td>
      </tr>
      <tr>
        <td><b>totaal</b></td>
        <td>{{transaction.total}}</td>
      </tr>
      <tr>
        <td><b>munt</b></td>
        <td>{{transaction.currency}}</td>
      </tr>
      <tr>
        <td><b>soort transactie</b></td>
        <td>{{transaction.kind}}</td>
      </tr>
    </tbody>
  </table>
</div>
